@import "../../utils/scss/variables";
.login-register-form-wrapper{
    .login-register-form{
        .transition-div {
            overflow: hidden;
            position: relative;
            margin: .75rem .4rem 1rem;
        }
    }
}



/* CSSTransition Animation for Form change content*/
.slide-to-login-enter,
.slide-to-login-exit,
.slide-to-reg-enter,
.slide-to-reg-exit {
    transition: transform $change-form-transition;
}

.slide-to-login-enter {
    transform: translateX(100%);
}
.slide-to-reg-enter {
    transform: translateX(-100%);
}
.slide-to-login-enter-active,
.slide-to-reg-enter-active {
    transform: translateX(0);
}


.slide-to-login-exit,
.slide-to-reg-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(0%);
}
.slide-to-login-exit-active {
    transform: translateX(100%);
}
.slide-to-reg-exit-active {
    transform: translateX(-100%);
}
