@import "../../utils/scss/variables";


[data-theme='dark']{
  .item-list .todo-list{

    .list-group-item{

      transition: all $change-theme-transition-speed ease;
      background-color: $DT-secondary-background;
      color: $DT-lighter-text-color;
    }
    &::-webkit-scrollbar-track{
      &:hover{
        background-color: rgba($DT-primary-color, .15);
      }
    }
    &::-webkit-scrollbar-thumb{
      background-color:rgba($DT-primary-color, .65);
      &:hover{
        background-color: rgba($DT-primary-color, .8);
      }
    }
  }
}
.item-list .todo-list{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  &::-webkit-scrollbar{
    width: .35rem;
  }
  &::-webkit-scrollbar-track{
    background-color: transparent;
    &:hover{
      background-color: rgba($LT-primary-color, .15);
      border-radius: .25rem;

    }
  }
  &::-webkit-scrollbar-thumb{
    background-color:rgba($LT-primary-color, .65);
    border-radius: .25rem;
    &:hover{
      background-color: rgba($LT-primary-color, .8);
    }
  }
}

.item-list{
  .todo-list{
    &.todo-list-hidden{
      max-height: 61vh;
      overflow-y: auto;

      @media screen and (max-width: 425px){
        max-height: 48.4vh;
      }
    }
    li{
      .scrollable{
        &:last-child{
          scroll-snap-align: end;
        }
      }
    }
    .list-group-item{

      transition: all $change-theme-transition-speed ease;
      border-radius: .25rem;
      color: $dark-gray-color;
      padding: .1rem .75rem;
      margin-bottom: .25rem;
    }
  }
}


.break-point{
  margin-top: 0.2rem;
}

.list-item-exit,
.list-item-enter{
  transform-origin: 0;
}

.list-item-enter {
  opacity: 0;
  transform: rotateY(-90deg);
}
.list-item-exit {
  opacity: 1;
}
.list-item-enter-active {
  opacity: 1;
  transform: none;
  transition: all 330ms ease-out;

}

.list-item-exit-active {
  opacity: 0;
  transform: rotateY(-90deg);
  transition: all 330ms ease-in;
}
