@import "../../utils/scss/mixins";
@import "../../utils/scss/variables";

.login-register-form-wrapper{
    height: 90%;
    display: flex;
    align-items: center;

    .login-register-form {
        max-width: 450px;
        display: flex;
        width: 100%;
        flex-direction: column;
        box-shadow: $box-shadow;
        border-radius: .25rem;
        padding: .4rem .75rem;
        transition: all $change-theme-transition-speed ease;
        label {
            font-weight: 500;
        }
        form{
            padding: 0 .2rem;
            input {
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:active {
                    transition: background-color 5000s ease-in-out 0s;
                }
                &:-webkit-autofill:focus {
                    -webkit-box-shadow: $LT-input-box-shadow !important;
                }
            }
        }


    }
}
[data-theme='dark'] .login-register-form-wrapper{
    .login-register-form{
        background-color: $DT-secondary-background;
        transition: all $change-theme-transition-speed ease;
        form{
            .submit-btn{
                color: $DT-lighter-text-color;
                background-color: $DT-button-background;
                &:hover{
                    background-color: $DT-primary-color;
                    color: #fff;
                }
            }
            input{
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:active{
                    -webkit-text-fill-color: $DT-lighter-text-color;
                    transition: background-color 5000s ease-in-out 0s;
                }
                &:-webkit-autofill:focus{
                    -webkit-box-shadow: $DT-input-box-shadow !important;
                }
            }
        }

    }

}