@media only screen and (min-width: 768px) {
    html {
        font-size: 1rem;
    }
    .todo-app{
        max-width: 450px;
    }
}
@media only screen and (max-width: 425px) {
    html {
        font-size:  .85rem;
    }
}
@media only screen and (max-width: 375px) {
    html {
        font-size: .75rem;
    }
}
@media only screen and (max-width: 320px) {
    html {
        font-size: .65rem;
    }
}

.todo-app{
    margin-top: 2rem;
}
