.password-input-wrapper{
    position: relative;
    .show-password-icon{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: .75rem;
        display: flex;
        align-content: center;
        align-items: center;

        &.active{
            &::before{
                animation: eye-clip .3s ease;
                color: #17a2b8;
            }
            [data-theme='dark'] &::before{
                color: rgba(161,229,235,0.55);
            }
        }
        &.inactive{
            &::before{
                animation: eye-clip2 .3s ease;
            }
        }
        &::before{
            cursor: pointer;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            align-content: center;
            align-items: center;
            color: #495057;
        }
        [data-theme='dark']  &::before{
            color: #6C757D;
        }

    }
}

@keyframes eye-clip {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}@keyframes eye-clip2 {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}