.todo-list-item{
    display: flex;
}

.menu-popup{
    color: #17a2b8;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 .7rem;
    margin-left: .5rem;
}
.menu-popup:hover{
    color: #fff;
}
.todo-list-item-text{
    font-size: 1.25rem;
    line-height: 35px;
    user-select: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: center;
}
.todo-list-item-text span{
    cursor: pointer;
}
.list-group-item > div{
    padding: .25rem .5rem .25rem .75rem;
    border-radius: .17rem;
    border-right: .5rem solid #17a2b8;
    border-left: .5rem solid #17a2b8;
}

/* animation pinToTop */
.list-group-item .pinToTop-enter{
    opacity: 0;
}
.list-group-item .pinToTop-enter.pinToTop-enter-active{
    opacity: 1;
    transition: all 330ms ease-out;
}
.list-group-item .pinToTop-exit{

}
.list-group-item .pinToTop-exit.pinToTop-exit-active{
    opacity: 0;
    
    transition: all 330ms ease-out;
}






.todo-list-item.done .todo-list-item-text{
    text-decoration: line-through;
}
.todo-list-item.important .todo-list-item-text{
    font-weight: bold;
    color: steelblue;
}