@import "../../../utils/scss/variables";

$LT-important-text-color: #118091;
$DT-important-text-color: #bfe2f0;

.todo-list-item{
    display: flex;
    &.done{
        .todo-list-item-text{
            text-decoration: line-through;
            font-weight: 300;
        }
    }
    &.important{
        .todo-list-item-text{
            font-weight: 700;
            color: $LT-important-text-color;
        }
    }
    &-text{
        font-size: 1.25rem;
        line-height: 35px;
        user-select: none;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        align-items: center;
        >span{
            cursor: pointer;
        }
    }
    .list-group-item .pin-to-top-indicator{
        padding: .25rem .5rem .25rem .75rem;
        border-radius: .17rem;
        border-right: .5rem solid $LT-primary-color;
        border-left: .5rem solid $LT-primary-color;
    }
}


[data-theme='dark'] {
    .todo-list-item.important .todo-list-item-text {
        font-weight: 700;
        color:  $DT-important-text-color;
    }

}
/* animation pinToTop */
.list-group-item .pinToTop-enter{
    opacity: 0;
}
.list-group-item .pinToTop-enter.pinToTop-enter-active{
    opacity: 1;
    transition: all 330ms ease-out;
}
.list-group-item .pinToTop-exit{

}
.list-group-item .pinToTop-exit.pinToTop-exit-active{
    opacity: 0;

    transition: all 330ms ease-out;
}

