.todo-list-item{
    display: flex;

}

.menu-popup{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: .25rem;
    transition: color .25s ease-in-out;
}
.menu-popup:hover{
    color: #17a2b8;
}
.todo-list-item-text{
    font-size: 1.25rem;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: center;
}
.todo-list-item.done .todo-list-item-text{
    text-decoration: line-through;
}
.todo-list-item.important .todo-list-item-text{
    font-weight: bold;
    color: steelblue;
}