.app-header .app-bar{
    display: flex;
    flex-direction: column;
}
.app-header .app-bar h1{
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-weight: 500;
}
.app-header .app-bar h2{
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    color: grey;
}


